.features{
    &__img{
        &-mxw{
            max-width: 100%;
        }
    }
    &__title,&__paragraph,&__subtitle,&__subparagraph{
        text-align: center;
    }

    &__text{
        margin-bottom: 3em;
    }

    &__title,&__subtitle{
        color: $Dark-Grayish-Blue;
    }

    &__paragraph,&__subparagraph{
        color: $Grayish-Blue;
        font-size: .95em;
        line-height: 25px;
    }


    &__list{
        margin-top: 2.5em;
    }
    &__item{
        margin: 2em 0;
    }
    &__subtitle,&__subparagraph{
        margin: .25em 0;
    }
}

@media screen and (min-width:1024px){
    .features{
        position: relative;
        &__box{
            display: flex;
            align-items: center;
            width: 80%;
            margin-top: 6em;
        }
        &__img{
            width: 450px;
            margin-right: 9em;
            
            &-mxw{
                position: absolute;
                max-width: 550px;
                left: -100px;
                bottom: -20px;
            }
        }
        &__list{
            margin: 0;
        }
        &__item{
            &:nth-child(1){
                margin-top: 0;
            }
        }
        &__subtitle,&__subparagraph{
            text-align: left;
        }
    }
}

@media screen and (min-width:1240px){
    .features{
        &__paragraph{
            padding: 0 2em;
        }

        &__box{
            margin-top: 8em;
            width: 65%;
        }

        &__img{
            &-mxw{
                max-width: 650px;
                bottom: -70px;
            }
        }

        &__subtitle{
            margin-bottom: .8em;
        }
    }
}

@media screen and (min-width:1440px){
    .features{
        &__img{
            &-mxw{
                max-width: 700px;
                left: -22.5px;
                bottom: -50px;
            }
        }

        &__title{
            font-size: 1.8em;
        }
        &__paragraph{
            font-size: 1em;
            line-height: 30px;
        }

        &__box{
            width: 55%;
            margin-top: 7em;
        }

        &__item{
            margin: 3em 0;
        }
        &__subtitle{
            font-size: 1.5em;
        }
    }
}