.workflow{
    &__title,&__paragraph,&__subtitle,&__subparagraph{
        text-align: center;
    }

    &__title,&__subtitle{
        color: $Dark-Grayish-Blue;
    }
    &__paragraph,&__subparagraph{
        color: $Grayish-Blue;
        line-height: 25px;
    }

    &-grid{
        margin: 6em auto;
        margin-bottom: 1.5em;
        display: grid;
        grid-template-columns: 1fr;

        &__item{
            margin: 1.5em 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__subtitle,&__subparagraph{
        margin: 0;
    }
    &__subtitle{
        margin-top: 2em;
        margin-bottom: .5em;
    }
}

@media screen and (min-width:1024px){
    .workflow{
        &-grid{
            margin: 2em auto;
            width: 85%;
            grid-template-columns: repeat(3,33.3%);
            align-content: center;

            &__item{
                justify-content: center;
            }
        }

        &__title{
            font-size: 1.8em;
        }
        &__subparagraph{
            font-size: .8em;
        }
    }
}

@media screen and (min-width:1440px){
    .workflow{
        &__title{
            font-size: 1.8em;
        }
        &__paragraph{
            font-size: 1em;
        }

        &__text{
            margin-bottom: 2.5em;
        }

        &__subtitle{
            font-size: 1.5em;
        }
        &__subparagraph{
            font-size: .9em;
            padding: 0 2em;
        }
    }
}